<h1 class="text-info">Thống kê hóa đơn theo khách hàng</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThongKeTheoHoaDonDaDuyet">
            <div class="form-group">
                <input class="btn btn-info my-1" type="submit" value="Thống kê theo khách hàng đã được duyệt" />
            </div>
        </form>
    </div>
</div>




