@model BanMiCay.Models.DiaChi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DiaChi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diachi1" class="control-label"></label>
                <input asp-for="Diachi1" class="form-control" />
                <span asp-validation-for="Diachi1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phuongxa" class="control-label"></label>
                <input asp-for="Phuongxa" class="form-control" />
                <span asp-validation-for="Phuongxa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quanhuyen" class="control-label"></label>
                <input asp-for="Quanhuyen" class="form-control" />
                <span asp-validation-for="Quanhuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tinhthanh" class="control-label"></label>
                <input asp-for="Tinhthanh" class="form-control" />
                <span asp-validation-for="Tinhthanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makh" class="control-label"></label>
                <select asp-for="Makh" class ="form-control" asp-items="ViewBag.Makh"></select>
            </div>
            <div class="form-group">
                <label asp-for="Macdinh" class="control-label"></label>
                <input asp-for="Macdinh" class="form-control" />
                <span asp-validation-for="Macdinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Daxoa" class="control-label"></label>
                <input asp-for="Daxoa" class="form-control" />
                <span asp-validation-for="Daxoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
