<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/Admin/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>AdminKit Demo - Bootstrap 5 Admin Template</title>

    <link href="~/Admin/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">Admin Page</span>
                </a>

                <ul class="sidebar-nav mx-3">
                    <li class="sidebar-header">
                        Trang quản lý
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" asp-action="Index" asp-controller="DanhMucs">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý danh mục</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="MatHangs">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Quản lý sản phẩm</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="KhachHangs">
                            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Quản lý khách hàng</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="NhanViens">
                            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Quản lý nhân viên</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Quản lý hóa đơn
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-buttons.html">
                            <i class="align-middle" data-feather="square"></i> <span class="align-middle">Hóa đơn Chưa Duyệt</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Hóa Đơn Đã Duyệt</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-cards.html">
                            <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Hóa Đơn Đã Hủy</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Thống kê
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="ThongKeTheoNgay" asp-controller="Main">
                            <i class="align-middle" data-feather="square"></i> <span class="align-middle">Thống Kê Theo Ngày</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Thống Kê Theo Khách Hàng</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="ThongKeTheoMatHang" asp-controller="Main">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Thống Kê Theo Mặt Hàng</span>
                        </a>
                    </li>
                    <li class="sidebar-header">
                        <a class="sidebar-link" asp-action="Logout" asp-controller="Home">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">ĐĂNG XUẤT</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container bg-white">
            @RenderBody()
        </div>
    </div>

</body>

</html>