@{
    ViewData["Title"] = "Đăng ký";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="p-3 shadow">
            <h3 class="text-center text-dark">ĐĂNG KÝ</h3>
            <form asp-action="Register">
                <div class="my-3">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Mật khẩu</label>
                    <input type="password" name="matkhau" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Họ tên</label>
                    <input type="text" name="hoten" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Số điện thoại</label>
                    <input type="text" name="dienthoai" class="form-control" />
                </div>
                <div class="d-grid">
                    <input type="submit" value="Đăng ký" class="btn btn-dark btn-block" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
